<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junl.wpwx.mapper.WorkingHouesMapper">

	<sql id="sysHolidayColumns">
		a.LOCALCODE AS "localcode",
		a.WEEK AS "week",
		a.DATE_DAY AS "dateDay",
		a.TIME_SLICE AS "timeSlice",
		a.MAXIMUM AS "maximum"
	</sql>


	<select id="findByLocalcode" resultType="WorkingHours">
		SELECT
		 	<include refid="sysHolidayColumns"/>
		  FROM  SYS_WORKING_HOURS a
		WHERE  a.localcode= #{localcode}
		AND  a.week=#{week}
		ORDER BY
		A .TIME_SLICE
	</select>

</mapper>